* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html,
body {
    height: 100%;
    width: 100%;
}

/* font Style */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
    /* Bg & Text Colors */
    --bg-color: #000000;
    --bg-button-color: #1a1a1a;
    --bg-task-color: #2a2a2a;
    --bg-delete-btn-color: #ff4d4d;
    --primary-text-color: #f1eeee;




    /* Padding variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xll: 30px;




    /* border-radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

}




/* Page Bg color */
body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}


main{
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* nav-bar-section */
nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    top: 0;
    background-color: var(--bg-color);
}


nav button{
    background-color: var(--bg-button-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    padding: var(--padding-l) var(--padding-m);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}






/* hero-part */
section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xll);
}


section .task-column{
    width: 100%;
    flex-grow: 1;
    background-color: var(--bg-button-color);
    padding: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    border-radius: var(--border-radius-m);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


section .task-column .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section .task-column.hover-over{
    border: 2px dashed white;
    scale: 1.02;
}


/* Task Styleing Part */
section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-m);
    cursor: grab;
}



section .task-column .task button{
    background-color: var(--bg-delete-btn-color);
    color: var(--primary-text-color);
    align-self: flex-end;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    cursor: pointer;
}



/* modal-code */
.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}


.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 42, 42, 0.212);
    backdrop-filter: blur(2px);
}


.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xll);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}



.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
}


.modal .center button{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-s);
}